{% set theme = app.session.get('theme') %}

{% extends theme~'/base.html.twig' %} 


{% block content %} 
	
	<div class="container">
		<div class="row">
			<h1>Alta de alumnos</h1>
			
			<hr> 
		
			
		</div>	
	</div>	
	
{% endblock %} 

