{% set theme = app.session.get('theme') %}

{% extends theme~'/base.html.twig' %} 



{% block content %}  

	{% if not app.user %}
		<script>window.location.href = "{{ url('login') }}"</script>
	{% else %}
		{% if is_granted('ROLE_ADMIN') %}
			<script>window.location.href = "{{ url('admin') }}"</script>
		{% else %}	
			<script>window.location.href = "{{ url('alumno') }}"</script>
		{% endif %} 	
	{% endif %}

	<div class="container">
		<div class="row">
			<h1>Index </h1>

			
		</div>	
	</div>
	
{% endblock %} 

