{% set theme = app.session.get('theme') %}

{% extends theme~'/base.html.twig' %} 

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %} 

	<div class="container">
		<div class="row">
			<h1>Panel de Administración </h1>
			
			<hr> 
			<h3>Ficha de Usuario</h3>
			
			{{ form_start(form) }}
				{{ form_widget(form) }}

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Grabar</button>
					</div>
				</div>
			{{ form_end(form) }}
			
			<hr> 
			
		</div>	
	</div>

	
{% endblock %} 

