{% set theme = app.session.get('theme') %}
{% extends theme~'/base.html.twig' %}

{% block content %}

	{% block cabecera %}
		
	{% endblock %}

	
	<div class="container">
		{% block principal %}
			Contenido Principal
		{% endblock %}
	</div>

{% endblock %}